/* Estilos para a caixa flutuante */
.caixa-flutuante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0); /* Cor de fundo com transparência */
    border: 1px solid #cccccc00;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

/* Estilos para os botões */
.botao {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

body {
    background-image: url('teste\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Outros estilos para o conteúdo da página */
    color: rgb(231, 32, 32);
}

/* Estilos adicionais para o conteúdo da página */
h1 {
    text-align: center;
}